<!DOCTYPE html>
<html>
  <head>
    <title>Login to Saychess</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"
    ></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/icons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/img/icons/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="/favicon.ico') }}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />

    <script>
      var googleUser = {};
      var startApp = function () {
        gapi.load("auth2", function () {
          // Retrieve the singleton for the GoogleAuth library and set up the client.
          auth2 = gapi.auth2.init({
            client_id:
              "23169402327-cqsqru72gsbobpo6udf4aha6j2ihpah6.apps.googleusercontent.com",
            cookiepolicy: "single_host_origin",
            // Request scopes in addition to 'profile' and 'email'
            //scope: 'additional_scope'
          });
          attachSignin(document.getElementById("customBtn"));
        });
      };

      function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(
          element,
          {},
          function (googleUser) {
            console.log("Signed in: " + googleUser.getBasicProfile().getName());
            if (auth2.isSignedIn.get()) {
              var profile = auth2.currentUser.get().getBasicProfile();
              //console.log("ID: " + profile.getId());
              //console.log("Full Name: " + profile.getName());
              //console.log("Given Name: " + profile.getGivenName());
              //console.log("Family Name: " + profile.getFamilyName());
              //console.log("Image URL: " + profile.getImageUrl());
              //console.log("Email: " + profile.getEmail());
              var id_token = googleUser.getAuthResponse().id_token;
              //console.log("ID:" + id_token);
              var xhr = new XMLHttpRequest();
              xhr.open("POST", "/login_g_auth");
              xhr.setRequestHeader(
                "Content-Type",
                "application/json"
              );
              xhr.onload = function () {
                console.log("Signed in as: " + xhr.responseText);
                if(xhr.responseText == 'success') {
                  //signOut();
                  location.assign('/welcome')
                }
              };
              xhr.send(JSON.stringify({token: id_token}));
            }
          },
          function (error) {
            alert(JSON.stringify(error, undefined, 2));
          }
        );
      }
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    </script>

    <style type="text/css">
      #customBtn {
        display: inline-block;
        background: #db4437;
        color: white;
        width: 325px;
        border: thin solid #888;
        white-space: nowrap;
        border-radius: 30px;
        height: 40px;
        margin-bottom: 10px;
      }

      #customBtn:hover {
        cursor: pointer;
      }

      span.label {
        font-family: serif;
        font-weight: normal;
      }

      span.icon {
        margin: 6px;
        background: url("/img/google.jpg");
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 28px;
        border-radius: 50px;
      }

      span.buttonText {
        display: inline-block;
        vertical-align: middle;
        padding-left: 42px;
        padding-right: 42px;
        font-size: 16px;
        font-weight: bold;
        /* Use the Roboto font that is loaded in the <head> */
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>

  <body>
    <div id="fb-root"></div>
    <div id="gradient">
      <script
        async
        defer
        crossorigin="anonymous"
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0&appId=214335170174499&autoLogAppEvents=1"
        nonce="km9oMq0N"
      ></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>

      <nav
        class="p-2 px-5"
        style="background: #101927; background: rgba(0, 0, 0, 0.5) !important"
      >
        <div class="text-light" style="font-size: 30px">
          <img src="img/logo.png" width="50" height="50" alt="" />
          Say Chess
        </div>
      </nav>

      <div class="login-box">
        <h2>Login</h2>
        <% if(messages.error) {%>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
        <% } %>

        <div class="other mb-2">
          <div
            class="fb-login-button mt-2"
            data-width="325px"
            data-size="large"
            data-button-type="login_with"
            data-layout="rounded"
            data-auto-logout-link="false"
            data-use-continue-as="true"
          ></div>
          <br /><br />
          <div id="gSignInWrapper">
            <div id="customBtn" class="customGPlusSignIn">
              <span class="icon"></span>
              <span class="buttonText">Sign in with Google</span>
            </div>
          </div>
          <div id="name"></div>
          <script>
            startApp();
          </script>
        </div>

        <form action="/login" method="POST">
          <div class="user-box mt-3">
            <input type="email" class="email" name="email" required="" />
            <label>Email</label>
          </div>
          <div class="user-box">
            <input
              type="password"
              name="password"
              class="password"
              required=""
            />
            <label>Password</label>
          </div>
          <button type="submit" class="btn">SUBMIT</button>

          <p
            class="text-light text-center"
            style="display: inline-block; text-align: center; margin-left: 20px"
          >
            <br />
            Don't have an account?
            <a href="\register" id="signup-link" style="color: #03e9f4"
              >Sign up here.</a
            >
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
